.search-header {

}

.search-head {
  background-image: url('/assets/image/search_header.jpg') !important;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.search-form {
  width: 950px;
}

.wrap-head {
  position: relative;
  z-index: 1;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, .50);
}

.open-detail {
  position: relative;
}

.info-route {
  min-height: 98px;
  margin-top: -40px;
  //text-align: center;
  //background: #000 no-repeat 50% 30%;
  background-size: cover;
  box-sizing: border-box;
}

.info-route:before {
  position: absolute;
  top: -7;
  left: 0;
  right: 0;
  bottom: -16px;
  background-color: rgba(0, 0, 0, .50);
  content: '';
}

.search-btn {
  z-index: 1;
}

.btn-wrapper {
  background-color: rgba(0, 0, 0, .50);
}

.btn-collapse {
  width: 500px;
}

.search-title {
  width: 80px;
  padding-left: 7px;
  text-align: center;
}

.head-top {
  padding-top: 15px;
  font-size: 18px;
}

.head-bottom {
  font-size: 12px;
  padding-top: 5px;
}