@import "./assets/style/_variables";

/** react calendar multiday customize*/
.i_day-picker-header {
  height: 30px
}

.e_day-picker-buttons {
  background-color: $primary !important;
  color: $gray-100;
}


/** select2 bootstrap style customize*/
.select2-container {
  height: 36px;

}

.select2-selection {
  height: 36px !important;
  border: 1px solid #ced4da !important;

  span {
    height: 36px !important;
    line-height: 33px !important;
  }
}