.booking-table-date {
  font-size:15px;
  //font-weight:500;
  min-width: 130px;
}

.booking-th-sunday-bg {
  color: #ED5565;
}

.booking-th-saturday-bg {
  color: #017BFF;
}

.booking-cell {
  font-size: 15px;
}

.booking-cell-sunday-bg {
  background-color: #FCF4F4;
  border-right: 1px solid #ED5565;
  border-left: 1px solid #ED5565;
}

.booking-cell-saturday-bg {
  background-color: #F7FAFF;
  border-right: 1px solid #017BFF;
  border-left: 1px solid #017BFF;
}

.booking-cell-time-hour {
  font-family: monospace;
  display: inline-block;
  width: 38px;
}

.booking-cell-time-site-name {
  display: inline-block;
  text-align: right;
  width: 55px;
}
.booking-cell-time-enable-count {
  display: inline-block;
  text-align: right;
  width: 28px;
}
.booking-cell-time-fee {
  display: inline-block;
  text-align: right;
  width: 70px;
}
.booking-cell-time-notes {
  font-size: 12px;
  vertical-align: middle;
  margin-left: 2px;
}

.site-name {
  font-size:15px;
  font-weight:300;
}

.booking-cell-time {
  font-size:14px;
  font-weight:300;
  margin-bottom: 1px;
}

.booking-cell-time-line {
  height: 3px;
  margin: 0px;
  border: 0px;
}